CourierBackOfficeManagement/Web References/GeneralCourierPrice/GeneralCourierPriceWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddGeneralCourierPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objInfo" type="tns:GeneralCourierPriceInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GeneralCourierPriceInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GeneralCourierPriceID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FromID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ToID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PackageType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PackageTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PricePerKG" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="AddedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EditedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EditedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeletedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsModified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDeleted" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddGeneralCourierPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddGeneralCourierPriceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGeneralCourierPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objInfo" type="tns:GeneralCourierPriceInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGeneralCourierPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateGeneralCourierPriceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGeneralCourierPriceByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GCPID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGeneralCourierPriceByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGeneralCourierPriceByIDResult" type="tns:GeneralCourierPriceInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCourierPriceByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GCPD" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DeletedBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCourierPriceByIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLocationResult" type="tns:ArrayOfGeneralCourierPriceInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGeneralCourierPriceInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GeneralCourierPriceInfo" nillable="true" type="tns:GeneralCourierPriceInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCourierPriceDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="toID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="serviceTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="packageTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourierPriceDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourierPriceDetailResult" type="tns:GeneralCourierPriceInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="current" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pagesize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPageDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BindGeneralCourierLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="toID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BindGeneralCourierLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BindGeneralCourierLocationResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneralCourierPriceInfo" nillable="true" type="tns:GeneralCourierPriceInfo" />
      <s:element name="ArrayOfGeneralCourierPriceInfo" nillable="true" type="tns:ArrayOfGeneralCourierPriceInfo" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddGeneralCourierPriceSoapIn">
    <wsdl:part name="parameters" element="tns:AddGeneralCourierPrice" />
  </wsdl:message>
  <wsdl:message name="AddGeneralCourierPriceSoapOut">
    <wsdl:part name="parameters" element="tns:AddGeneralCourierPriceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGeneralCourierPriceSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGeneralCourierPrice" />
  </wsdl:message>
  <wsdl:message name="UpdateGeneralCourierPriceSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGeneralCourierPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetGeneralCourierPriceByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetGeneralCourierPriceByID" />
  </wsdl:message>
  <wsdl:message name="GetGeneralCourierPriceByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetGeneralCourierPriceByIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCourierPriceByIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCourierPriceByID" />
  </wsdl:message>
  <wsdl:message name="DeleteCourierPriceByIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCourierPriceByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLocation" />
  </wsdl:message>
  <wsdl:message name="GetAllLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourierPriceDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourierPriceDetail" />
  </wsdl:message>
  <wsdl:message name="GetCourierPriceDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourierPriceDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPageData" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageDataResponse" />
  </wsdl:message>
  <wsdl:message name="BindGeneralCourierLocationSoapIn">
    <wsdl:part name="parameters" element="tns:BindGeneralCourierLocation" />
  </wsdl:message>
  <wsdl:message name="BindGeneralCourierLocationSoapOut">
    <wsdl:part name="parameters" element="tns:BindGeneralCourierLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetGeneralCourierPriceByIDHttpGetIn">
    <wsdl:part name="GCPID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGeneralCourierPriceByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:GeneralCourierPriceInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteCourierPriceByIDHttpGetIn">
    <wsdl:part name="GCPD" type="s:string" />
    <wsdl:part name="DeletedBy" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteCourierPriceByIDHttpGetOut" />
  <wsdl:message name="GetAllLocationHttpGetIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllLocationHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfGeneralCourierPriceInfo" />
  </wsdl:message>
  <wsdl:message name="GetCourierPriceDetailHttpGetIn">
    <wsdl:part name="fromID" type="s:string" />
    <wsdl:part name="toID" type="s:string" />
    <wsdl:part name="serviceTypeID" type="s:string" />
    <wsdl:part name="packageTypeID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCourierPriceDetailHttpGetOut">
    <wsdl:part name="Body" element="tns:GeneralCourierPriceInfo" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpGetIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="pagesize" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="BindGeneralCourierLocationHttpGetIn">
    <wsdl:part name="fromID" type="s:string" />
    <wsdl:part name="toID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BindGeneralCourierLocationHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetGeneralCourierPriceByIDHttpPostIn">
    <wsdl:part name="GCPID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGeneralCourierPriceByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:GeneralCourierPriceInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteCourierPriceByIDHttpPostIn">
    <wsdl:part name="GCPD" type="s:string" />
    <wsdl:part name="DeletedBy" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteCourierPriceByIDHttpPostOut" />
  <wsdl:message name="GetAllLocationHttpPostIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllLocationHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfGeneralCourierPriceInfo" />
  </wsdl:message>
  <wsdl:message name="GetCourierPriceDetailHttpPostIn">
    <wsdl:part name="fromID" type="s:string" />
    <wsdl:part name="toID" type="s:string" />
    <wsdl:part name="serviceTypeID" type="s:string" />
    <wsdl:part name="packageTypeID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCourierPriceDetailHttpPostOut">
    <wsdl:part name="Body" element="tns:GeneralCourierPriceInfo" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpPostIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="pagesize" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="BindGeneralCourierLocationHttpPostIn">
    <wsdl:part name="fromID" type="s:string" />
    <wsdl:part name="toID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BindGeneralCourierLocationHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="GeneralCourierPriceWebServiceSoap">
    <wsdl:operation name="AddGeneralCourierPrice">
      <wsdl:input message="tns:AddGeneralCourierPriceSoapIn" />
      <wsdl:output message="tns:AddGeneralCourierPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGeneralCourierPrice">
      <wsdl:input message="tns:UpdateGeneralCourierPriceSoapIn" />
      <wsdl:output message="tns:UpdateGeneralCourierPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneralCourierPriceByID">
      <wsdl:input message="tns:GetGeneralCourierPriceByIDSoapIn" />
      <wsdl:output message="tns:GetGeneralCourierPriceByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourierPriceByID">
      <wsdl:input message="tns:DeleteCourierPriceByIDSoapIn" />
      <wsdl:output message="tns:DeleteCourierPriceByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocation">
      <wsdl:input message="tns:GetAllLocationSoapIn" />
      <wsdl:output message="tns:GetAllLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourierPriceDetail">
      <wsdl:input message="tns:GetCourierPriceDetailSoapIn" />
      <wsdl:output message="tns:GetCourierPriceDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataSoapIn" />
      <wsdl:output message="tns:GetPageDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindGeneralCourierLocation">
      <wsdl:input message="tns:BindGeneralCourierLocationSoapIn" />
      <wsdl:output message="tns:BindGeneralCourierLocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GeneralCourierPriceWebServiceHttpGet">
    <wsdl:operation name="GetGeneralCourierPriceByID">
      <wsdl:input message="tns:GetGeneralCourierPriceByIDHttpGetIn" />
      <wsdl:output message="tns:GetGeneralCourierPriceByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourierPriceByID">
      <wsdl:input message="tns:DeleteCourierPriceByIDHttpGetIn" />
      <wsdl:output message="tns:DeleteCourierPriceByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocation">
      <wsdl:input message="tns:GetAllLocationHttpGetIn" />
      <wsdl:output message="tns:GetAllLocationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourierPriceDetail">
      <wsdl:input message="tns:GetCourierPriceDetailHttpGetIn" />
      <wsdl:output message="tns:GetCourierPriceDetailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataHttpGetIn" />
      <wsdl:output message="tns:GetPageDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BindGeneralCourierLocation">
      <wsdl:input message="tns:BindGeneralCourierLocationHttpGetIn" />
      <wsdl:output message="tns:BindGeneralCourierLocationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GeneralCourierPriceWebServiceHttpPost">
    <wsdl:operation name="GetGeneralCourierPriceByID">
      <wsdl:input message="tns:GetGeneralCourierPriceByIDHttpPostIn" />
      <wsdl:output message="tns:GetGeneralCourierPriceByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourierPriceByID">
      <wsdl:input message="tns:DeleteCourierPriceByIDHttpPostIn" />
      <wsdl:output message="tns:DeleteCourierPriceByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocation">
      <wsdl:input message="tns:GetAllLocationHttpPostIn" />
      <wsdl:output message="tns:GetAllLocationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourierPriceDetail">
      <wsdl:input message="tns:GetCourierPriceDetailHttpPostIn" />
      <wsdl:output message="tns:GetCourierPriceDetailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataHttpPostIn" />
      <wsdl:output message="tns:GetPageDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BindGeneralCourierLocation">
      <wsdl:input message="tns:BindGeneralCourierLocationHttpPostIn" />
      <wsdl:output message="tns:BindGeneralCourierLocationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneralCourierPriceWebServiceSoap" type="tns:GeneralCourierPriceWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGeneralCourierPrice">
      <soap:operation soapAction="http://tempuri.org/AddGeneralCourierPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGeneralCourierPrice">
      <soap:operation soapAction="http://tempuri.org/UpdateGeneralCourierPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralCourierPriceByID">
      <soap:operation soapAction="http://tempuri.org/GetGeneralCourierPriceByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourierPriceByID">
      <soap:operation soapAction="http://tempuri.org/DeleteCourierPriceByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocation">
      <soap:operation soapAction="http://tempuri.org/GetAllLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourierPriceDetail">
      <soap:operation soapAction="http://tempuri.org/GetCourierPriceDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <soap:operation soapAction="http://tempuri.org/GetPageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindGeneralCourierLocation">
      <soap:operation soapAction="http://tempuri.org/BindGeneralCourierLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneralCourierPriceWebServiceSoap12" type="tns:GeneralCourierPriceWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGeneralCourierPrice">
      <soap12:operation soapAction="http://tempuri.org/AddGeneralCourierPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGeneralCourierPrice">
      <soap12:operation soapAction="http://tempuri.org/UpdateGeneralCourierPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneralCourierPriceByID">
      <soap12:operation soapAction="http://tempuri.org/GetGeneralCourierPriceByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourierPriceByID">
      <soap12:operation soapAction="http://tempuri.org/DeleteCourierPriceByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocation">
      <soap12:operation soapAction="http://tempuri.org/GetAllLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourierPriceDetail">
      <soap12:operation soapAction="http://tempuri.org/GetCourierPriceDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <soap12:operation soapAction="http://tempuri.org/GetPageData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindGeneralCourierLocation">
      <soap12:operation soapAction="http://tempuri.org/BindGeneralCourierLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneralCourierPriceWebServiceHttpGet" type="tns:GeneralCourierPriceWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetGeneralCourierPriceByID">
      <http:operation location="/GetGeneralCourierPriceByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourierPriceByID">
      <http:operation location="/DeleteCourierPriceByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocation">
      <http:operation location="/GetAllLocation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourierPriceDetail">
      <http:operation location="/GetCourierPriceDetail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <http:operation location="/GetPageData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindGeneralCourierLocation">
      <http:operation location="/BindGeneralCourierLocation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneralCourierPriceWebServiceHttpPost" type="tns:GeneralCourierPriceWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetGeneralCourierPriceByID">
      <http:operation location="/GetGeneralCourierPriceByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourierPriceByID">
      <http:operation location="/DeleteCourierPriceByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocation">
      <http:operation location="/GetAllLocation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourierPriceDetail">
      <http:operation location="/GetCourierPriceDetail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <http:operation location="/GetPageData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindGeneralCourierLocation">
      <http:operation location="/BindGeneralCourierLocation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneralCourierPriceWebService">
    <wsdl:port name="GeneralCourierPriceWebServiceSoap" binding="tns:GeneralCourierPriceWebServiceSoap">
      <soap:address location="http://localhost:44719/BackEndWebService/GeneralCourierPriceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneralCourierPriceWebServiceSoap12" binding="tns:GeneralCourierPriceWebServiceSoap12">
      <soap12:address location="http://localhost:44719/BackEndWebService/GeneralCourierPriceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneralCourierPriceWebServiceHttpGet" binding="tns:GeneralCourierPriceWebServiceHttpGet">
      <http:address location="http://localhost:44719/BackEndWebService/GeneralCourierPriceWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneralCourierPriceWebServiceHttpPost" binding="tns:GeneralCourierPriceWebServiceHttpPost">
      <http:address location="http://localhost:44719/BackEndWebService/GeneralCourierPriceWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>