CourierBackOfficeManagement/Web References/CorporateCourierEntry/CorporateCourierEntryWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CorporateClientOrderEntryAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objInfo" type="tns:CorporateClientOrderInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CorporateClientOrderInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CorporateClientOrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CorporateClientID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FromID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CourierNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ToLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromLocalAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToLocalAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromContactPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToContactPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromContactNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToContactNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PackageName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Charge" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PackageTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PackageType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PackageDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfPackageItem" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WeightOfPackage" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="WeightUnitID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WeightUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CollectionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentOptionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractDiscription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractExpireDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderedOn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderModifiedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVerified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RowTotal" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CorporateClientOrderEntryAddResponse">
        <s:complexType />
      </s:element>
      <s:element name="CorporateClientOrderEntryUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objInfo" type="tns:CorporateClientOrderInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CorporateClientOrderEntryUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="CorporateClientOrderEntryGetByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CorporateClientOrderEntryGetByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorporateClientOrderEntryGetByIDResult" type="tns:CorporateClientOrderInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCorporateClientOrderEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCorporateClientOrderEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCorporateClientOrderEntryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="current" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pagesize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPageDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCorporateClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCorporateClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCorporateClientResult" type="tns:ArrayOfCorporateClientInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCorporateClientInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorporateClientInfo" nillable="true" type="tns:CorporateClientInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CorporateClientInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CorporateClientID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HOAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LCDepartment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LCDContactPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LCDContactPersonPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LCDContactPersonMobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LCDContactPersonEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SLA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EditedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsModified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDeleted" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="LocationNameGetByCorporateClientLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationNameGetByCorporateClientLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocationNameGetByCorporateClientLocationResult" type="tns:ArrayOfCorporateClientLocationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCorporateClientLocationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorporateClientLocationInfo" nillable="true" type="tns:CorporateClientLocationInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CorporateClientLocationInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CorporateClientLocationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FromLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ToLocationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FromLocationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Charge" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WeightUnitID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractDiscription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractExpireDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EditedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDeleted" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsModified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CorporateClientID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CorporateClientOrderCancelByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CorporateClientOrderCancelByIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="CorporateClientOrderInfo" nillable="true" type="tns:CorporateClientOrderInfo" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfCorporateClientInfo" nillable="true" type="tns:ArrayOfCorporateClientInfo" />
      <s:element name="ArrayOfCorporateClientLocationInfo" nillable="true" type="tns:ArrayOfCorporateClientLocationInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CorporateClientOrderEntryAddSoapIn">
    <wsdl:part name="parameters" element="tns:CorporateClientOrderEntryAdd" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderEntryAddSoapOut">
    <wsdl:part name="parameters" element="tns:CorporateClientOrderEntryAddResponse" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderEntryUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CorporateClientOrderEntryUpdate" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderEntryUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CorporateClientOrderEntryUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderEntryGetByIDSoapIn">
    <wsdl:part name="parameters" element="tns:CorporateClientOrderEntryGetByID" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderEntryGetByIDSoapOut">
    <wsdl:part name="parameters" element="tns:CorporateClientOrderEntryGetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCorporateClientOrderEntrySoapIn">
    <wsdl:part name="parameters" element="tns:SearchCorporateClientOrderEntry" />
  </wsdl:message>
  <wsdl:message name="SearchCorporateClientOrderEntrySoapOut">
    <wsdl:part name="parameters" element="tns:SearchCorporateClientOrderEntryResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPageData" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCorporateClientSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCorporateClient" />
  </wsdl:message>
  <wsdl:message name="GetAllCorporateClientSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCorporateClientResponse" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByCorporateClientLocationSoapIn">
    <wsdl:part name="parameters" element="tns:LocationNameGetByCorporateClientLocation" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByCorporateClientLocationSoapOut">
    <wsdl:part name="parameters" element="tns:LocationNameGetByCorporateClientLocationResponse" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderCancelByIDSoapIn">
    <wsdl:part name="parameters" element="tns:CorporateClientOrderCancelByID" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderCancelByIDSoapOut">
    <wsdl:part name="parameters" element="tns:CorporateClientOrderCancelByIDResponse" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderEntryGetByIDHttpGetIn">
    <wsdl:part name="OrderID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderEntryGetByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:CorporateClientOrderInfo" />
  </wsdl:message>
  <wsdl:message name="SearchCorporateClientOrderEntryHttpGetIn">
    <wsdl:part name="searchText" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchCorporateClientOrderEntryHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpGetIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="pagesize" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllCorporateClientHttpGetIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllCorporateClientHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCorporateClientInfo" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByCorporateClientLocationHttpGetIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByCorporateClientLocationHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCorporateClientLocationInfo" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderCancelByIDHttpGetIn">
    <wsdl:part name="OrderID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderCancelByIDHttpGetOut" />
  <wsdl:message name="CorporateClientOrderEntryGetByIDHttpPostIn">
    <wsdl:part name="OrderID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderEntryGetByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:CorporateClientOrderInfo" />
  </wsdl:message>
  <wsdl:message name="SearchCorporateClientOrderEntryHttpPostIn">
    <wsdl:part name="searchText" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchCorporateClientOrderEntryHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpPostIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="pagesize" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetAllCorporateClientHttpPostIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllCorporateClientHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCorporateClientInfo" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByCorporateClientLocationHttpPostIn">
    <wsdl:part name="clientId" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByCorporateClientLocationHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCorporateClientLocationInfo" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderCancelByIDHttpPostIn">
    <wsdl:part name="OrderID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CorporateClientOrderCancelByIDHttpPostOut" />
  <wsdl:portType name="CorporateCourierEntryWebServiceSoap">
    <wsdl:operation name="CorporateClientOrderEntryAdd">
      <wsdl:input message="tns:CorporateClientOrderEntryAddSoapIn" />
      <wsdl:output message="tns:CorporateClientOrderEntryAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderEntryUpdate">
      <wsdl:input message="tns:CorporateClientOrderEntryUpdateSoapIn" />
      <wsdl:output message="tns:CorporateClientOrderEntryUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderEntryGetByID">
      <wsdl:input message="tns:CorporateClientOrderEntryGetByIDSoapIn" />
      <wsdl:output message="tns:CorporateClientOrderEntryGetByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCorporateClientOrderEntry">
      <wsdl:input message="tns:SearchCorporateClientOrderEntrySoapIn" />
      <wsdl:output message="tns:SearchCorporateClientOrderEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataSoapIn" />
      <wsdl:output message="tns:GetPageDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCorporateClient">
      <wsdl:input message="tns:GetAllCorporateClientSoapIn" />
      <wsdl:output message="tns:GetAllCorporateClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByCorporateClientLocation">
      <wsdl:input message="tns:LocationNameGetByCorporateClientLocationSoapIn" />
      <wsdl:output message="tns:LocationNameGetByCorporateClientLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderCancelByID">
      <wsdl:input message="tns:CorporateClientOrderCancelByIDSoapIn" />
      <wsdl:output message="tns:CorporateClientOrderCancelByIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CorporateCourierEntryWebServiceHttpGet">
    <wsdl:operation name="CorporateClientOrderEntryGetByID">
      <wsdl:input message="tns:CorporateClientOrderEntryGetByIDHttpGetIn" />
      <wsdl:output message="tns:CorporateClientOrderEntryGetByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCorporateClientOrderEntry">
      <wsdl:input message="tns:SearchCorporateClientOrderEntryHttpGetIn" />
      <wsdl:output message="tns:SearchCorporateClientOrderEntryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataHttpGetIn" />
      <wsdl:output message="tns:GetPageDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCorporateClient">
      <wsdl:input message="tns:GetAllCorporateClientHttpGetIn" />
      <wsdl:output message="tns:GetAllCorporateClientHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByCorporateClientLocation">
      <wsdl:input message="tns:LocationNameGetByCorporateClientLocationHttpGetIn" />
      <wsdl:output message="tns:LocationNameGetByCorporateClientLocationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderCancelByID">
      <wsdl:input message="tns:CorporateClientOrderCancelByIDHttpGetIn" />
      <wsdl:output message="tns:CorporateClientOrderCancelByIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CorporateCourierEntryWebServiceHttpPost">
    <wsdl:operation name="CorporateClientOrderEntryGetByID">
      <wsdl:input message="tns:CorporateClientOrderEntryGetByIDHttpPostIn" />
      <wsdl:output message="tns:CorporateClientOrderEntryGetByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCorporateClientOrderEntry">
      <wsdl:input message="tns:SearchCorporateClientOrderEntryHttpPostIn" />
      <wsdl:output message="tns:SearchCorporateClientOrderEntryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataHttpPostIn" />
      <wsdl:output message="tns:GetPageDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCorporateClient">
      <wsdl:input message="tns:GetAllCorporateClientHttpPostIn" />
      <wsdl:output message="tns:GetAllCorporateClientHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByCorporateClientLocation">
      <wsdl:input message="tns:LocationNameGetByCorporateClientLocationHttpPostIn" />
      <wsdl:output message="tns:LocationNameGetByCorporateClientLocationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderCancelByID">
      <wsdl:input message="tns:CorporateClientOrderCancelByIDHttpPostIn" />
      <wsdl:output message="tns:CorporateClientOrderCancelByIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CorporateCourierEntryWebServiceSoap" type="tns:CorporateCourierEntryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CorporateClientOrderEntryAdd">
      <soap:operation soapAction="http://tempuri.org/CorporateClientOrderEntryAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderEntryUpdate">
      <soap:operation soapAction="http://tempuri.org/CorporateClientOrderEntryUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderEntryGetByID">
      <soap:operation soapAction="http://tempuri.org/CorporateClientOrderEntryGetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCorporateClientOrderEntry">
      <soap:operation soapAction="http://tempuri.org/SearchCorporateClientOrderEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <soap:operation soapAction="http://tempuri.org/GetPageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCorporateClient">
      <soap:operation soapAction="http://tempuri.org/GetAllCorporateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByCorporateClientLocation">
      <soap:operation soapAction="http://tempuri.org/LocationNameGetByCorporateClientLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderCancelByID">
      <soap:operation soapAction="http://tempuri.org/CorporateClientOrderCancelByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorporateCourierEntryWebServiceSoap12" type="tns:CorporateCourierEntryWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CorporateClientOrderEntryAdd">
      <soap12:operation soapAction="http://tempuri.org/CorporateClientOrderEntryAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderEntryUpdate">
      <soap12:operation soapAction="http://tempuri.org/CorporateClientOrderEntryUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderEntryGetByID">
      <soap12:operation soapAction="http://tempuri.org/CorporateClientOrderEntryGetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCorporateClientOrderEntry">
      <soap12:operation soapAction="http://tempuri.org/SearchCorporateClientOrderEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <soap12:operation soapAction="http://tempuri.org/GetPageData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCorporateClient">
      <soap12:operation soapAction="http://tempuri.org/GetAllCorporateClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByCorporateClientLocation">
      <soap12:operation soapAction="http://tempuri.org/LocationNameGetByCorporateClientLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderCancelByID">
      <soap12:operation soapAction="http://tempuri.org/CorporateClientOrderCancelByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorporateCourierEntryWebServiceHttpGet" type="tns:CorporateCourierEntryWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CorporateClientOrderEntryGetByID">
      <http:operation location="/CorporateClientOrderEntryGetByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCorporateClientOrderEntry">
      <http:operation location="/SearchCorporateClientOrderEntry" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <http:operation location="/GetPageData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCorporateClient">
      <http:operation location="/GetAllCorporateClient" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByCorporateClientLocation">
      <http:operation location="/LocationNameGetByCorporateClientLocation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderCancelByID">
      <http:operation location="/CorporateClientOrderCancelByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorporateCourierEntryWebServiceHttpPost" type="tns:CorporateCourierEntryWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CorporateClientOrderEntryGetByID">
      <http:operation location="/CorporateClientOrderEntryGetByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCorporateClientOrderEntry">
      <http:operation location="/SearchCorporateClientOrderEntry" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <http:operation location="/GetPageData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCorporateClient">
      <http:operation location="/GetAllCorporateClient" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByCorporateClientLocation">
      <http:operation location="/LocationNameGetByCorporateClientLocation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorporateClientOrderCancelByID">
      <http:operation location="/CorporateClientOrderCancelByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CorporateCourierEntryWebService">
    <wsdl:port name="CorporateCourierEntryWebServiceSoap" binding="tns:CorporateCourierEntryWebServiceSoap">
      <soap:address location="http://localhost:44719/BackEndWebService/CorporateCourierEntryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CorporateCourierEntryWebServiceSoap12" binding="tns:CorporateCourierEntryWebServiceSoap12">
      <soap12:address location="http://localhost:44719/BackEndWebService/CorporateCourierEntryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CorporateCourierEntryWebServiceHttpGet" binding="tns:CorporateCourierEntryWebServiceHttpGet">
      <http:address location="http://localhost:44719/BackEndWebService/CorporateCourierEntryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CorporateCourierEntryWebServiceHttpPost" binding="tns:CorporateCourierEntryWebServiceHttpPost">
      <http:address location="http://localhost:44719/BackEndWebService/CorporateCourierEntryWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>