CourierBackOfficeManagement/Web References/Location/LocationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LocationNameAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objInfo" type="tns:LocationInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LocationInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CountryID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StateID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EditedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EditedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeletedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsModified" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDeleted" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="LocationNameAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationNameAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationNameUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objInfo" type="tns:LocationInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationNameUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationNameUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationNameGetAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationNameGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocationNameGetAllResult" type="tns:ArrayOfLocationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocationInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocationInfo" nillable="true" type="tns:LocationInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="LocationNameGetByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationNameGetByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocationNameGetByIDResult" type="tns:LocationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationNameDeleteByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DeletedBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationNameDeleteByIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPageData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="current" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pagesize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPageDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchLocationResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfLocationInfo" nillable="true" type="tns:ArrayOfLocationInfo" />
      <s:element name="LocationInfo" nillable="true" type="tns:LocationInfo" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LocationNameAddSoapIn">
    <wsdl:part name="parameters" element="tns:LocationNameAdd" />
  </wsdl:message>
  <wsdl:message name="LocationNameAddSoapOut">
    <wsdl:part name="parameters" element="tns:LocationNameAddResponse" />
  </wsdl:message>
  <wsdl:message name="LocationNameUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:LocationNameUpdate" />
  </wsdl:message>
  <wsdl:message name="LocationNameUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:LocationNameUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:LocationNameGetAll" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:LocationNameGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByIDSoapIn">
    <wsdl:part name="parameters" element="tns:LocationNameGetByID" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByIDSoapOut">
    <wsdl:part name="parameters" element="tns:LocationNameGetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="LocationNameDeleteByIDSoapIn">
    <wsdl:part name="parameters" element="tns:LocationNameDeleteByID" />
  </wsdl:message>
  <wsdl:message name="LocationNameDeleteByIDSoapOut">
    <wsdl:part name="parameters" element="tns:LocationNameDeleteByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPageData" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageDataResponse" />
  </wsdl:message>
  <wsdl:message name="SearchLocationSoapIn">
    <wsdl:part name="parameters" element="tns:SearchLocation" />
  </wsdl:message>
  <wsdl:message name="SearchLocationSoapOut">
    <wsdl:part name="parameters" element="tns:SearchLocationResponse" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetAllHttpGetIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetAllHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfLocationInfo" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByIDHttpGetIn">
    <wsdl:part name="LocationID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:LocationInfo" />
  </wsdl:message>
  <wsdl:message name="LocationNameDeleteByIDHttpGetIn">
    <wsdl:part name="LocationID" type="s:string" />
    <wsdl:part name="DeletedBy" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationNameDeleteByIDHttpGetOut" />
  <wsdl:message name="GetPageDataHttpGetIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="pagesize" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SearchLocationHttpGetIn">
    <wsdl:part name="searchText" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchLocationHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetAllHttpPostIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetAllHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLocationInfo" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByIDHttpPostIn">
    <wsdl:part name="LocationID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationNameGetByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:LocationInfo" />
  </wsdl:message>
  <wsdl:message name="LocationNameDeleteByIDHttpPostIn">
    <wsdl:part name="LocationID" type="s:string" />
    <wsdl:part name="DeletedBy" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocationNameDeleteByIDHttpPostOut" />
  <wsdl:message name="GetPageDataHttpPostIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="pagesize" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="SearchLocationHttpPostIn">
    <wsdl:part name="searchText" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchLocationHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="LocationWebServiceSoap">
    <wsdl:operation name="LocationNameAdd">
      <wsdl:input message="tns:LocationNameAddSoapIn" />
      <wsdl:output message="tns:LocationNameAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameUpdate">
      <wsdl:input message="tns:LocationNameUpdateSoapIn" />
      <wsdl:output message="tns:LocationNameUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetAll">
      <wsdl:input message="tns:LocationNameGetAllSoapIn" />
      <wsdl:output message="tns:LocationNameGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByID">
      <wsdl:input message="tns:LocationNameGetByIDSoapIn" />
      <wsdl:output message="tns:LocationNameGetByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameDeleteByID">
      <wsdl:input message="tns:LocationNameDeleteByIDSoapIn" />
      <wsdl:output message="tns:LocationNameDeleteByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataSoapIn" />
      <wsdl:output message="tns:GetPageDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchLocation">
      <wsdl:input message="tns:SearchLocationSoapIn" />
      <wsdl:output message="tns:SearchLocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LocationWebServiceHttpGet">
    <wsdl:operation name="LocationNameGetAll">
      <wsdl:input message="tns:LocationNameGetAllHttpGetIn" />
      <wsdl:output message="tns:LocationNameGetAllHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByID">
      <wsdl:input message="tns:LocationNameGetByIDHttpGetIn" />
      <wsdl:output message="tns:LocationNameGetByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameDeleteByID">
      <wsdl:input message="tns:LocationNameDeleteByIDHttpGetIn" />
      <wsdl:output message="tns:LocationNameDeleteByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataHttpGetIn" />
      <wsdl:output message="tns:GetPageDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchLocation">
      <wsdl:input message="tns:SearchLocationHttpGetIn" />
      <wsdl:output message="tns:SearchLocationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LocationWebServiceHttpPost">
    <wsdl:operation name="LocationNameGetAll">
      <wsdl:input message="tns:LocationNameGetAllHttpPostIn" />
      <wsdl:output message="tns:LocationNameGetAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByID">
      <wsdl:input message="tns:LocationNameGetByIDHttpPostIn" />
      <wsdl:output message="tns:LocationNameGetByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationNameDeleteByID">
      <wsdl:input message="tns:LocationNameDeleteByIDHttpPostIn" />
      <wsdl:output message="tns:LocationNameDeleteByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataHttpPostIn" />
      <wsdl:output message="tns:GetPageDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchLocation">
      <wsdl:input message="tns:SearchLocationHttpPostIn" />
      <wsdl:output message="tns:SearchLocationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocationWebServiceSoap" type="tns:LocationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LocationNameAdd">
      <soap:operation soapAction="http://tempuri.org/LocationNameAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameUpdate">
      <soap:operation soapAction="http://tempuri.org/LocationNameUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetAll">
      <soap:operation soapAction="http://tempuri.org/LocationNameGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByID">
      <soap:operation soapAction="http://tempuri.org/LocationNameGetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameDeleteByID">
      <soap:operation soapAction="http://tempuri.org/LocationNameDeleteByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <soap:operation soapAction="http://tempuri.org/GetPageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLocation">
      <soap:operation soapAction="http://tempuri.org/SearchLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LocationWebServiceSoap12" type="tns:LocationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LocationNameAdd">
      <soap12:operation soapAction="http://tempuri.org/LocationNameAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameUpdate">
      <soap12:operation soapAction="http://tempuri.org/LocationNameUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetAll">
      <soap12:operation soapAction="http://tempuri.org/LocationNameGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByID">
      <soap12:operation soapAction="http://tempuri.org/LocationNameGetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameDeleteByID">
      <soap12:operation soapAction="http://tempuri.org/LocationNameDeleteByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <soap12:operation soapAction="http://tempuri.org/GetPageData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLocation">
      <soap12:operation soapAction="http://tempuri.org/SearchLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LocationWebServiceHttpGet" type="tns:LocationWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LocationNameGetAll">
      <http:operation location="/LocationNameGetAll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByID">
      <http:operation location="/LocationNameGetByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameDeleteByID">
      <http:operation location="/LocationNameDeleteByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <http:operation location="/GetPageData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLocation">
      <http:operation location="/SearchLocation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LocationWebServiceHttpPost" type="tns:LocationWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LocationNameGetAll">
      <http:operation location="/LocationNameGetAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameGetByID">
      <http:operation location="/LocationNameGetByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationNameDeleteByID">
      <http:operation location="/LocationNameDeleteByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <http:operation location="/GetPageData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLocation">
      <http:operation location="/SearchLocation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationWebService">
    <wsdl:port name="LocationWebServiceSoap" binding="tns:LocationWebServiceSoap">
      <soap:address location="http://localhost:44719/BackEndWebService/LocationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LocationWebServiceSoap12" binding="tns:LocationWebServiceSoap12">
      <soap12:address location="http://localhost:44719/BackEndWebService/LocationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LocationWebServiceHttpGet" binding="tns:LocationWebServiceHttpGet">
      <http:address location="http://localhost:44719/BackEndWebService/LocationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LocationWebServiceHttpPost" binding="tns:LocationWebServiceHttpPost">
      <http:address location="http://localhost:44719/BackEndWebService/LocationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>