CourierBackOfficeManagement/Web References/Login/LoginWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PortalID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginUserSoapIn">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapOut">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUserHttpGetIn">
    <wsdl:part name="PortalID" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginUserHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginUserHttpPostIn">
    <wsdl:part name="PortalID" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginUserHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="LoginWebServiceSoap">
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserSoapIn" />
      <wsdl:output message="tns:LoginUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginWebServiceHttpGet">
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserHttpGetIn" />
      <wsdl:output message="tns:LoginUserHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LoginWebServiceHttpPost">
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserHttpPostIn" />
      <wsdl:output message="tns:LoginUserHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginWebServiceSoap" type="tns:LoginWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginWebServiceSoap12" type="tns:LoginWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginUser">
      <soap12:operation soapAction="http://tempuri.org/LoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginWebServiceHttpGet" type="tns:LoginWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LoginUser">
      <http:operation location="/LoginUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginWebServiceHttpPost" type="tns:LoginWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LoginUser">
      <http:operation location="/LoginUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginWebService">
    <wsdl:port name="LoginWebServiceSoap" binding="tns:LoginWebServiceSoap">
      <soap:address location="http://localhost:44719/BackEndWebService/LoginWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginWebServiceSoap12" binding="tns:LoginWebServiceSoap12">
      <soap12:address location="http://localhost:44719/BackEndWebService/LoginWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginWebServiceHttpGet" binding="tns:LoginWebServiceHttpGet">
      <http:address location="http://localhost:44719/BackEndWebService/LoginWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginWebServiceHttpPost" binding="tns:LoginWebServiceHttpPost">
      <http:address location="http://localhost:44719/BackEndWebService/LoginWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>