CourierBackOfficeManagement/Web References/GeneralCourier/GeneralCourierWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GeneralCourierAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objInfo" type="tns:GeneralCourierInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GeneralCourierInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GeneralCourierID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CourierNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverMiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiverAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiverMobile" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiverPhone" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfPackage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WeightOfPackage" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PackageWeight" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WeightUnitID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderMiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderMobile" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SenderPhone" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AddedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDeleted" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AddedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeletedOn" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GeneralCourierAddResponse">
        <s:complexType />
      </s:element>
      <s:element name="GeneralCourierUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objInfo" type="tns:GeneralCourierInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneralCourierUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="GeneralCourierGetAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneralCourierGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneralCourierGetAllResult" type="tns:ArrayOfGeneralCourierInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGeneralCourierInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GeneralCourierInfo" nillable="true" type="tns:GeneralCourierInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GeneralCourierGetByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GeneralCourierID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneralCourierGetByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneralCourierGetByIDResult" type="tns:GeneralCourierInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneralCourierDeleteByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GeneralCourierID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneralCourierDeleteByIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchCourier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCourierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCourierResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="current" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pagesize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPageDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfGeneralCourierInfo" nillable="true" type="tns:ArrayOfGeneralCourierInfo" />
      <s:element name="GeneralCourierInfo" nillable="true" type="tns:GeneralCourierInfo" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GeneralCourierAddSoapIn">
    <wsdl:part name="parameters" element="tns:GeneralCourierAdd" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierAddSoapOut">
    <wsdl:part name="parameters" element="tns:GeneralCourierAddResponse" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:GeneralCourierUpdate" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:GeneralCourierUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GeneralCourierGetAll" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GeneralCourierGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GeneralCourierGetByID" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GeneralCourierGetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierDeleteByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GeneralCourierDeleteByID" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierDeleteByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GeneralCourierDeleteByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCourierSoapIn">
    <wsdl:part name="parameters" element="tns:SearchCourier" />
  </wsdl:message>
  <wsdl:message name="SearchCourierSoapOut">
    <wsdl:part name="parameters" element="tns:SearchCourierResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPageData" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageDataResponse" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetAllHttpGetIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetAllHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfGeneralCourierInfo" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetByIDHttpGetIn">
    <wsdl:part name="GeneralCourierID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetByIDHttpGetOut">
    <wsdl:part name="Body" element="tns:GeneralCourierInfo" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierDeleteByIDHttpGetIn">
    <wsdl:part name="GeneralCourierID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierDeleteByIDHttpGetOut" />
  <wsdl:message name="SearchCourierHttpGetIn">
    <wsdl:part name="searchText" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchCourierHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpGetIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="pagesize" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetAllHttpPostIn">
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetAllHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfGeneralCourierInfo" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetByIDHttpPostIn">
    <wsdl:part name="GeneralCourierID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierGetByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:GeneralCourierInfo" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierDeleteByIDHttpPostIn">
    <wsdl:part name="GeneralCourierID" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneralCourierDeleteByIDHttpPostOut" />
  <wsdl:message name="SearchCourierHttpPostIn">
    <wsdl:part name="searchText" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchCourierHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpPostIn">
    <wsdl:part name="current" type="s:string" />
    <wsdl:part name="pagesize" type="s:string" />
    <wsdl:part name="token" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPageDataHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="GeneralCourierWebServiceSoap">
    <wsdl:operation name="GeneralCourierAdd">
      <wsdl:input message="tns:GeneralCourierAddSoapIn" />
      <wsdl:output message="tns:GeneralCourierAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierUpdate">
      <wsdl:input message="tns:GeneralCourierUpdateSoapIn" />
      <wsdl:output message="tns:GeneralCourierUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetAll">
      <wsdl:input message="tns:GeneralCourierGetAllSoapIn" />
      <wsdl:output message="tns:GeneralCourierGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetByID">
      <wsdl:input message="tns:GeneralCourierGetByIDSoapIn" />
      <wsdl:output message="tns:GeneralCourierGetByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierDeleteByID">
      <wsdl:input message="tns:GeneralCourierDeleteByIDSoapIn" />
      <wsdl:output message="tns:GeneralCourierDeleteByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCourier">
      <wsdl:input message="tns:SearchCourierSoapIn" />
      <wsdl:output message="tns:SearchCourierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataSoapIn" />
      <wsdl:output message="tns:GetPageDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GeneralCourierWebServiceHttpGet">
    <wsdl:operation name="GeneralCourierGetAll">
      <wsdl:input message="tns:GeneralCourierGetAllHttpGetIn" />
      <wsdl:output message="tns:GeneralCourierGetAllHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetByID">
      <wsdl:input message="tns:GeneralCourierGetByIDHttpGetIn" />
      <wsdl:output message="tns:GeneralCourierGetByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierDeleteByID">
      <wsdl:input message="tns:GeneralCourierDeleteByIDHttpGetIn" />
      <wsdl:output message="tns:GeneralCourierDeleteByIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCourier">
      <wsdl:input message="tns:SearchCourierHttpGetIn" />
      <wsdl:output message="tns:SearchCourierHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataHttpGetIn" />
      <wsdl:output message="tns:GetPageDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GeneralCourierWebServiceHttpPost">
    <wsdl:operation name="GeneralCourierGetAll">
      <wsdl:input message="tns:GeneralCourierGetAllHttpPostIn" />
      <wsdl:output message="tns:GeneralCourierGetAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetByID">
      <wsdl:input message="tns:GeneralCourierGetByIDHttpPostIn" />
      <wsdl:output message="tns:GeneralCourierGetByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierDeleteByID">
      <wsdl:input message="tns:GeneralCourierDeleteByIDHttpPostIn" />
      <wsdl:output message="tns:GeneralCourierDeleteByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCourier">
      <wsdl:input message="tns:SearchCourierHttpPostIn" />
      <wsdl:output message="tns:SearchCourierHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <wsdl:input message="tns:GetPageDataHttpPostIn" />
      <wsdl:output message="tns:GetPageDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneralCourierWebServiceSoap" type="tns:GeneralCourierWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneralCourierAdd">
      <soap:operation soapAction="http://tempuri.org/GeneralCourierAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierUpdate">
      <soap:operation soapAction="http://tempuri.org/GeneralCourierUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetAll">
      <soap:operation soapAction="http://tempuri.org/GeneralCourierGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetByID">
      <soap:operation soapAction="http://tempuri.org/GeneralCourierGetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierDeleteByID">
      <soap:operation soapAction="http://tempuri.org/GeneralCourierDeleteByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCourier">
      <soap:operation soapAction="http://tempuri.org/SearchCourier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <soap:operation soapAction="http://tempuri.org/GetPageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneralCourierWebServiceSoap12" type="tns:GeneralCourierWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneralCourierAdd">
      <soap12:operation soapAction="http://tempuri.org/GeneralCourierAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierUpdate">
      <soap12:operation soapAction="http://tempuri.org/GeneralCourierUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetAll">
      <soap12:operation soapAction="http://tempuri.org/GeneralCourierGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetByID">
      <soap12:operation soapAction="http://tempuri.org/GeneralCourierGetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierDeleteByID">
      <soap12:operation soapAction="http://tempuri.org/GeneralCourierDeleteByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCourier">
      <soap12:operation soapAction="http://tempuri.org/SearchCourier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <soap12:operation soapAction="http://tempuri.org/GetPageData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneralCourierWebServiceHttpGet" type="tns:GeneralCourierWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GeneralCourierGetAll">
      <http:operation location="/GeneralCourierGetAll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetByID">
      <http:operation location="/GeneralCourierGetByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierDeleteByID">
      <http:operation location="/GeneralCourierDeleteByID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchCourier">
      <http:operation location="/SearchCourier" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <http:operation location="/GetPageData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneralCourierWebServiceHttpPost" type="tns:GeneralCourierWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GeneralCourierGetAll">
      <http:operation location="/GeneralCourierGetAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierGetByID">
      <http:operation location="/GeneralCourierGetByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneralCourierDeleteByID">
      <http:operation location="/GeneralCourierDeleteByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="SearchCourier">
      <http:operation location="/SearchCourier" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageData">
      <http:operation location="/GetPageData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneralCourierWebService">
    <wsdl:port name="GeneralCourierWebServiceSoap" binding="tns:GeneralCourierWebServiceSoap">
      <soap:address location="http://localhost:44719/BackEndWebService/GeneralCourierWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneralCourierWebServiceSoap12" binding="tns:GeneralCourierWebServiceSoap12">
      <soap12:address location="http://localhost:44719/BackEndWebService/GeneralCourierWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneralCourierWebServiceHttpGet" binding="tns:GeneralCourierWebServiceHttpGet">
      <http:address location="http://localhost:44719/BackEndWebService/GeneralCourierWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneralCourierWebServiceHttpPost" binding="tns:GeneralCourierWebServiceHttpPost">
      <http:address location="http://localhost:44719/BackEndWebService/GeneralCourierWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>